a
{
    color: red;
    text-decoration: underline dotted;
}

a:active
{
    color: aqua;
    text-decoration: underline;
}

#art
{
    color: blue;
}

.company
{
    color: goldenrod;
    font-family: verdana;
    font-size: larger;
}