a
{
    color: red;
    text-decoration: underline dotted;
}

body
{
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/226/673/large_2x/abstract-background-rain-drops-on-window-selective-focus-rainy-city-background-water-drops-on-glass-rainy-weather-blur-wallpaper-free-photo.jpg");
    background-attachment: fixed;
}

a:active
{
    color: aqua;
    text-decoration: underline;
}

#art
{
    color: blue;
}

#style-me
{
    text-align: center;
    text-indent: 7px;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    text-decoration: overline;
    letter-spacing: 30px;
    word-spacing: 50px;
    background-color: lightblue;
}

#and-style-me
{
    background: url("https://www.thoughtco.com/thmb/DQWHbIr1LjByQ8ZJlzg2nQO5Pdc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/556442987-58b7417e5f9b5880804fc0a1.jpg") #FFFFFF fixed top left no-repeat;
    position: relative;
    left: 5%;
    width: 100%;
}

#style-me-too
{
    background-image: url("https://static.tvtropes.org/pmwiki/pub/images/iheardulikemudkips2.png");
    background-repeat: repeat-x;
    background-position: left left;
}

.company
{
    color: goldenrod;
    font-family: verdana;
    font-size: larger;
    text-transform: uppercase;
}