a
{
    color: red;
    text-decoration: underline dotted;
}

body
{
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/226/673/large_2x/abstract-background-rain-drops-on-window-selective-focus-rainy-city-background-water-drops-on-glass-rainy-weather-blur-wallpaper-free-photo.jpg");
    background-attachment: fixed;
}

a:active
{
    color: aqua;
    text-decoration: underline;
}

#art
{
    color: blue;
}

#style-me
{
    text-align: center;
    text-indent: 7px;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    text-decoration: overline;
    letter-spacing: 30px;
    word-spacing: 50px;
    background-color: lightblue;
}

#style-me-too
{
    background-image: url("https://static.tvtropes.org/pmwiki/pub/images/iheardulikemudkips2.png");
}

.company
{
    color: goldenrod;
    font-family: verdana;
    font-size: larger;
    text-transform: uppercase;
}